<!DOCTYPE html>
<html ng-app="app">
<head>
	<base href="/~moises/track/">

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Track</title>

	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="//www.parsecdn.com/js/parse-1.5.0.min.js"></script>
	<script src="assets/javascripts/vendor/vendor.js"></script>
	<link rel="stylesheet" href="assets/stylesheets/app.css">
</head>
<body ng-controller="userController">
	<div class="navbar navbar-inverse navbar-fixed-top" ng-show="currentUser">
		<div class="container">
			<div class="navbar-header">
				<a href="./timeline" class="navbar-brand">Track</a>
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="navbar-main">
				<ul class="nav navbar-nav">
					<li ng-class="{ 'active' : currentSection == 'dashboard' }"><a href="./timeline">Dashboard</a></li>
					<li ng-class="{ 'active' : currentSection == 'new' }" ng-if="currentUser.attributes.type != 'teacher'"><a href="./new">Cadastrar</a></li>
					<li ng-class="{ 'active' : currentSection == 'students' }" ng-if="currentUser.attributes.type == 'teacher'"><a href="./students">Alunos</a></li>
					<li ng-class="{ 'active' : currentSection == 'groups' }" ng-if="currentUser.attributes.type == 'teacher'"><a href="./groups">Grupos</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li ng-class="{ 'active' : currentSection == 'messages' }"><a href="./messages">Mensagens <span class="badge" ng-if="messagesCounter">{{ messagesCounter }}</span></a></li>
					<!-- <li ng-class="{ 'active' : currentSection == 'notifications' }"><a href="./notifications">Notificações <span class="badge">{{ messagesCounter }}</span></a></li> -->
					<li ng-class="{ 'active' : currentSection == 'settings' }"><a href="./settings">Configurações</a></li>
					<li><a href="" ng-click="logout()">Sair</a></li>
				</ul>
			</div>
		</div>
	</div>

	<ng-view></ng-view>

	<script src="assets/javascripts/all.js"></script>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-XXXXX-X', 'auto');
		ga('send', 'pageview');
	</script>
</body>
</html>
