@import "reset";
@import "mixins";
@import "animations";
@import "bootstrap";
@import "datepicker";

@import "base/common";

@import "modules/login";
@import "modules/timeline";
@import "modules/new";
@import "modules/notifications";
@import "modules/students";
@import "modules/message";

.new-student {
	margin-bottom: 20px;
}

.empty {
	text-align: center;
	margin-top: 80px;
}