<div class="container space groups">
	<div class="row" ng-show="showSuccessMessage">
		<div class="col-md-12">
			<div class="alert alert-dismissible alert-success">
				<button type="button" class="close" ng-click="showSuccessMessage = false">×</button>
				{{ successMessage }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Usuários do grupo <strong>{{ group.attributes.title }}</strong></h3>
				</div>
				<div class="panel-body">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Aluno</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in users">
								<td><a ng-href="./student/{{ user.id }}">{{ user.attributes.name }}</a></td>
								<td>
									<div class="btn-group">
										<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
											<i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#" ng-click="remove(user.id, user.attributes.name)">Remover do grupo</a></li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>
						<tfoot></tfoot>
					</table>
				</div>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Adicionar aluno ao grupo</h3>
				</div>
				<div class="panel-body">				
					<div class="form-group">
						<select class="form-control" ng-model="selectedUser" ng-options="user.attributes.name for user in students track by user.id" id="select"></select>
					</div>

					<button class="btn btn-big btn-primary" ng-click="add(selectedUser.id, selectedUser.attributes.name)">Adicionar</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<a href="./groups" class="btn btn-big btn-primary">Voltar</a>
		</div>
	</div>
</div>