<div class="container space notifications">
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-big btn-primary new-notification" data-toggle="modal" data-target="#new-notification">Nova Notificação</button>

			<div class="modal" id="new-notification" tabindex="-1" role="dialog" aria-labelledby="new-notificationLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="new-notificationLabel">Nova Notificação</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label class="control-label" for="recipient">Selecione os destinatários desta mensagem</label>
								<div class="checkbox" ng-repeat="student in students">
									<label>
										<input type="checkbox" ng-model="selected[student.attributes.name]" name="students"> {{ student.attributes.name }}
									</label>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="message">Assunto</label>
								<input type="text" class="form-control" ng-model="subject" id="subject">
							</div>
							<div class="form-group">
								<label class="control-label" for="message">Mensagem</label>
								<textarea class="form-control" ng-model="message" rows="3" id="message"></textarea>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
							<button type="button" ng-click="send()" class="btn btn-primary">Enviar</button>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Alunos</h3>
				</div>
				<div class="panel-body">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Assunto</th>
								<th>Aluno</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="message in messages">
								<td><a href="">{{ message.attributes.subject }}</a></td>
								<td><a href="./student">{{ message.attributes.name }}</a></td>
								<td>
									<div class="btn-group">
										<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
											<i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#">Ver histórico</a></li>
											<li><a href="#">Enviar notificação</a></li>
											<li class="divider"></li>
											<li><a href="#">Orientar</a></li>
											<li><a href="#">Deixar de orientar</a></li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>
						<tfoot></tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>