<div class="container space">
	<div class="row" ng-show="showSuccessMessage">
		<div class="col-md-12">
			<div class="alert alert-dismissible alert-success">
				<button type="button" class="close" ng-click="showSuccessMessage = false">×</button>
				{{ successMessage }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Filtrar</h3>
				</div>
				<div class="panel-body">
					<select class="form-control" ng-model="filter">
						<option value="my">Apenas meus alunos</option>
						<option value="without-teacher">Apenas alunos sem orientador</option>
						<option value="any">Qualquer aluno</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Alunos</h3>
				</div>
				<div class="panel-body">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Matrícula</th>
								<th>Aluno</th>
								<th>Grupo</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="student in students">
								<td>{{ student.attributes.username }}</td>
								<td><a href="./student/{{ student.id }}">{{ student.attributes.name }}</a></td>
								<td><a href="./group/{{ student.attributes.groupId.id }}">{{ student.attributes.groupId.attributes.title }}</a></td>
								<td>
									<div class="btn-group">
										<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
											<i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a href="#" ng-if="filter == 'without-teacher'" ng-click="setStudentTeacherId(student, false);">Orientar</a></li>
											<li ng-if="filter == 'my'"><a href="#" ng-click="setStudentTeacherId(student, true)">Deixar de orientar</a></li>
										</ul>
									</div>
								</td>
							</tr>
						</tbody>
						<tfoot></tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>