<div class="container">
	<ul class="timeline">
		<li ng-repeat="post in posts | orderBy:'-createdAt'" ng-class-even="'timeline-inverted'">
			<div class="timeline-badge primary">
				<i class="glyphicon glyphicon-floppy-disk" ng-if="post.attributes.file"></i>
				<i class="glyphicon glyphicon-align-left" ng-if="!post.attributes.file"></i>
			</div>

			<div class="timeline-panel">
				<div class="timeline-heading">
					<h4 class="timeline-title">{{ post.attributes.subject }}</h4>
					<p><small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> {{ post.createdAt | date : 'dd/MM/yyyy' }}</small></p>
				</div>
				<div class="timeline-body">
					<p>{{ post.attributes.description }}</p>
					<hr>
					<div class="btn-group">
						<button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
							<i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</div>
					<a ng-if="post.attributes.file" href="{{ post.attributes.file._url }}" class="btn btn-sm btn-success pull-right" download="{{ post.attributes.file._name }}"><i class="glyphicon glyphicon-save"></i> Download</a>
				</div>
			</div>
		</li>
	</ul>
</div>